<h1>Join <%= @league.league_name %></h1>
<p>Created by <%= @admin.name %></p>
<%= button_to "Join This League", join_path(@league), method: "get", class: "btn btn-default" %>
<h3>Teams in League</h3>
<% @users.each do |user| %>
	<p><%= user.name %></p>
<% end %>


