<h1><%= @user.league.league_name %></h1>

<h3>Teams in League</h3>
<% @users.each do |user| %>
	<p><%= user.name %> - <%= link_to (user.team_name || "NO NAME YET"), team_path(:team => user.id) %></p>
<% end %>







