<h2>Create a league</h2>
<%= form_for @league do |f| %> 
	<p>
		<%= f.text_field :name, placeholder: 'League Name' %><br>
		<% #f.password_field :password, placeholder: 'Password' %>
		<% #f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
		<%= f.submit "Create League!" %>
	</p>
<% end %> 

<% #create own league here %>
<% @leagues.each do |league| %>
<% #list all leagues here %>
<% end%>