<div class="center">
	<a type="text" href="http://sillyseasonfantasyleague.bitballoon.com/"><h2 class="ssfl">Silly Season Fantasy League</h2></a>
	<br>
	<p>
		This is the API server for the Silly Season Fantasy League.<br>
		Initially this was a fullstack rails application.<br>
		The view is now an Angular 2 application (currently beta 13).
	</p>
	<p>Please click the link above.</p>
	<br>
	<a href="https://www.linkedin.com/in/kristianlarsson"><i>Kristian Larsson </i></a>
</div>
