<h1>Transfers</h1>
<%= button_to "Stop Transfers (simulation purpose)", stop_path(), method: "get", class: "btn btn-default", form_class: "inline"%>
<%= button_to "End GW (simulation purpose)", newgameweek_path(), method: "get", class: "btn btn-default", form_class: "inline"%>