// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.middle {
  position: fixed;
  left: 50%;
}
.center {
  position: relative;
  left: -50%;
}
